<% content_for :title, "Edit Project" %>

<div class="container my-5">
  <div class="card shadow-sm p-4">
    <h2 class="mb-4"><i class="bi bi-pencil-square"></i> Editar Projeto</h2>

    <%= render partial: "form", locals: { project: @project } %>

    <div class="mt-3">
      <%= link_to "â† Voltar", projects_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
