<% content_for :title, "Projects" %>

<% if notice.present? %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="container my-5">
  <h1 class="mb-4 text-center fw-bold">
    <i class="bi bi-kanban"></i> Projects
  </h1>

  <div class="d-flex justify-content-end mb-4">
    <%= link_to "➕ New Project", new_project_path, class: "btn btn-success shadow" %>
  </div>

  <% if @projects.any? %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <% @projects.each do |project| %>
        <%= render partial: "shared/card", locals: {
          title: project.description.truncate(50) || "Sem descrição",
          subtitle: "ID: #{project.id}",
          description: "Criado em: #{project.created_at.strftime('%d/%m/%Y')}",
          view_path: project_path(project),
          edit_path: edit_project_path(project),
          delete_path: project_path(project)
          } %>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-info text-center mt-5">
      Nenhum projeto encontrado.
    </div>
  <% end %>
</div>
